__azurite*
__blobstorage*
**/__pycache__*
data
**/node_modules*
**/dist*
**/arm-template.json

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
**/.env
**/logs
.github_actions.sh